:root{
  --ink: #ffffff;
  --ink-d: #ececec;
  --primary: #a3956c;
  --secondary: #867f69;
  --accent: #ff8800;
  --background: #a3956c;
  --text: #ffffff;
  --button-text: #ffffff;
  --button-hover-text: #000000;
  --btn: #8c7b5f;
  --btn-hover: #ff8800;
  --btn-active: #ffc800;
  --border: rgba(173,173,173,1);
  --border-hover: rgba(255,136,0,1);
  --border-active: rgba(255,200,0,1);
}
