:root{
  --ink: #eee;
  --ink-d: #aaa;
  --primary: #eeeeee;
  --secondary: #222222;
  --accent: #444444;
  --background: #222222;
  --text: #eeeeee;
  --button-text: #eeeeee;
  --button-hover-text: #eeeeee;
  --btn: #444444;
  --btn-hover: #555555;
  --btn-active: #555555;
  --border: rgba(34,34,34,1);
  --border-hover: rgba(68,68,68,1);
  --border-active: rgba(85,85,85,1);
}
